.card {
    width: 192px;
    height: 263px;
    border-radius: 12px;
    background-color: #333;
    padding: 8px;
    position: relative;
}

.card-body {
    width: 100%;
    height: 100%;
}

.card-body img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.raiting {
    border-radius: 8px;
    background-color: #333;
    display: inline-flex;
    padding: 2px 4px;
    height: 22px;
    width: 54px;
    position: absolute;
    left: 14px;
    top: 14px;
}

.card-footer {
    height: 59px;
    width: 177px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16px);
    position: absolute;
    bottom: 8px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    text-align: center;
}

.card-footer h4{
    margin-top: 8px;
    font-size: 14px;
    margin-bottom: 4px;
}

.card-footer p{
    font-size: 12px;
}

.like-button {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 8px;
    background-color: red;
}

.like-button img {}

