.card {
    width: 192px;
    height: 263px;
    border-radius: 12px;
    background-color: #333;
    padding: 8px;
    position: relative;
}

.card-body {
    width: 100%;
    height: 100%;
}

.card-body img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.raiting {
    border-radius: 8px;
    background-color: #333;
    display: inline-flex;
    padding: 2px 4px;
    height: 22px;
    width: 54px;
    position: absolute;
    left: 14px;
    top: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.raiting img {
    width: 12px;
    height: 12px;
    margin-right: 2px;
}

.raiting span {
    font-size: 12px;
}

.raiting .grey-rait {
    font-size: 10px;
    color: rgba(178, 178, 178, 1);
}

.card-footer {
    height: 59px;
    width: 177px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16px);
    position: absolute;
    bottom: 8px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    text-align: center;
}

.card-footer h4 {
    margin-top: 8px;
    font-size: 14px;
    margin-bottom: 4px;
}

.card-footer p {
    font-size: 12px;
}

.like-button {
    width: 24px; 
    height: 24px;
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.like-button img {
    width: 12px;
    height: 12px;
}